<html>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='static/logo/logo-short.svg' />
    <title>Raska - Défis audio et créatifs</title>
    <meta
      name='description'
      content="Participez à Raska, l'application qui transforme vos idées en défis audio. Enregistrez, partagez et découvrez des histoires sonores uniques dans une communauté créative et ludique."
    />
  </head>

  <body>
    <header>
      <img src='static/logo/logo-full.svg' alt='App Logo' height='64' - />
    </header>

    <main>
      {{message}}
    </main>
  </body>
</html>